# Auto detect text files and perform LF normalization
* text=auto
log
lang
GS-Script
Script
Client
Client/Data/Interface/aida.OZT
Client/Data/Interface/atlans.OZT
Client/Data/Interface/BalgasBarrack.OZT
Client/Data/Interface/BalgasRefuge.OZT
Client/Data/Interface/bloodcastle.OZT
Client/Data/Interface/chaoscastle.OZT
Client/Data/Interface/crywolffortress.OZT
Client/Data/Interface/devias.OZT
Client/Data/Interface/devilsquare.OZT
Client/Data/Interface/Doppelganger.OZT
Client/Data/Interface/duelarena.OZT
Client/Data/Interface/dungeun.OZT
Client/Data/Interface/Elbeland.OZT
Client/Data/Interface/EmpireGuardian.OZT
Client/Data/Interface/Icarus.OZT
Client/Data/Interface/IllusionTemple.OZT
Client/Data/Interface/Kalima.OZT
Client/Data/Interface/kantru.OZT
Client/Data/Interface/loren.OZT
Client/Data/Interface/lorencia.OZT
Client/Data/Interface/lostkalima.OZT
Client/Data/Interface/losttower.OZT
Client/Data/Interface/MapName_Karutan.OZT
Client/Data/Interface/MapName_MarketRolen.OZT
Client/Data/Interface/mapname_raklion.OZT
Client/Data/Interface/mapname_raklionboss.OZT
Client/Data/Interface/MapNameAddStrife.OZT
Client/Data/Interface/noria.OZT
Client/Data/Interface/ordeal.OZT
Client/Data/Interface/pkfield.OZT
Client/Data/Interface/santatown.OZT
Client/Data/Interface/stadium.OZT
Client/Data/Interface/SwampOfCalmness.OZT
Client/Data/Interface/tarcan.OZT
Client/Data/Local/Eng/excellentcommonoption_eng.bmd
Client/Data/Local/Eng/excellentwingoption_eng.bmd
Client/Data/Local/Eng/helpdata_eng.bmd
Client/Data/Local/Eng/infotooltiptext_eng.bmd
Client/Data/Local/Eng/item_eng.bmd
Client/Data/Local/Eng/itemleveltooltip_eng.bmd
Client/Data/Local/Eng/itemsetoption_eng.bmd
Client/Data/Local/Eng/itemsetoptiontext_eng.bmd
Client/Data/Local/Eng/itemtooltip_eng.bmd
Client/Data/Local/Eng/itemtooltiptext_eng.bmd
Client/Data/Local/Eng/jewelofharmonyoption_eng.bmd
Client/Data/Local/Eng/jewelofharmonysmelt_eng.bmd
Client/Data/Local/Eng/masterskilltooltip_eng.bmd
Client/Data/Local/Eng/movereq_eng.bmd
Client/Data/Local/Eng/muunoption_eng.bmd
Client/Data/Local/Eng/quest_eng.bmd
Client/Data/Local/Eng/questwords_eng.bmd
Client/Data/Local/Eng/ruudshopviewinfo_eng.bmd
Client/Data/Local/Eng/skilltooltiptext_eng.bmd
Client/Data/Local/Eng/socketitem_eng.bmd
Client/Data/Local/Eng/statoptiontext_eng.bmd
Client/Data/Macro.txt
